@media (max-width:480px){
    .menu-category-button-title{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding-left: 23px;
        background-color: #ffffff;
    }
    .menu-carousel-button-title{
        display: grid;
        grid-auto-flow: column;
        scroll-behavior: smooth;
        gap: 12px;
        overflow-x: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        background-color: #ffffff;
    }
    .menu-carousel-button-title::-webkit-scrollbar{
        display: none;
    }
    .menu-category-button{
        border: solid 1px #F14638;
        border-radius: 30px;
        min-height: 35px;
        max-height: 40px;
        width: 125px;
        max-width: 250px;
        margin-right: 10px;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        scroll-snap-align: start;
        overflow-x:auto;
        overflow-y: hidden;
    }
    .button-title{
        color:#F14638;
        font-size: 14px;
        font-weight: 600;
        padding-left: 5px;
    }

}