@media (max-width:480px){
    .menu-page-container{
        background-image: url(/src/pics/Menu_page.png);
        background-size: cover;
        height:200px;
        width: 480px;
        font-family: sans-serif;
    }
    .back-icon{
        padding-top:25px;
        padding-left: 25px;

    }
    .menu-categories-card{
        border-top-left-radius: 30px;
        background-color: #ffffff;
        border-top-right-radius: 30px;
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .category{
        font-size: 23px;
        font-weight: 600;
        padding-left: 23px;
        padding-top: 21.44px;
        padding-bottom: 20px;
        font-family: sans-serif;
    }
    .see-all{
        padding-top: 18.5px;
        padding-left: 10px;
        height: 65px;
        width: 90px;
    }
    .search-box{
        padding-top: 20px;
    }
    .drop-down{
        padding-top: 21px;
        padding-right: 32px;
        padding-left: 27px;
    }
    .category-carousel{
        display: flex;
        flex-direction: row;
    }
    .c1{
        padding-left: 23px;
    }
    .b1{
        padding-left: 29px;
    }
    .b2{
        padding-right: 25px;
    }
    .color-props{
        color:#e53e35;
        padding-top: 5px;
        padding-right: 20px;
        font-size: 12px;
    }
    .carrousel{
        display: flex;
        flex-flow: row;
        scroll-behavior:smooth;
        gap: 12px;
        height: 100px;
        overflow-x:auto;
        overflow-y: hidden;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        background-color: #ffffff;
    }
    .carrousel::-webkit-scrollbar{
        display: none;
    }
    .card-container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        scroll-snap-align: start;
        border-radius: 30px;
        border-style: none;
        margin: 0px;
    }
    .line-distance{
        position: relative;
    }
    .hr-line{
        border-color: #e53e35;
        border-width: 0.4px;
        width: 40px;
        padding-right: 15px;
        position: absolute;
        bottom: -10%;
    }
    .sub-title{
        color: gray;
        padding-top: 5px;
        padding-right: 20px;
        margin: 0px;
        font-size: 12px;
    }
    .pad-prop{
        padding-left: 20px;
    }
    .box--shadow{
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
        padding-top: 5px;
    }
}