@media (max-width:480px){
    .menu-page-container{
        background-image: url(/src/pics/Menu_page.png);
        background-size: cover;
        height:175.23px;
        width: 480px;
        font-family:sans-serif;
    }
    .back-icon{
        height: 80px;
        width:81px;
        padding-top:25px;
        padding-left: 25px;

    }
    .menu-categories-card{
        border-top-left-radius: 30px;
        background-color: #ffffff;
        border-top-right-radius: 30px;
        margin-top: 70px;
        padding-left: 23px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .category{
        font-size: 23px;
        font-weight: 600;
        padding-top: 20px;
        padding-bottom: 16px;
    }
    .malnadu-logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .emoji-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .category-button-title{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 23px;

    }
    .carousel-button-title{
        display: flex;
        flex-wrap: wrap;
    }
    .category-button{
        border: solid 1px #F14638;
        border-radius: 30px;
        max-height: 30px;
        min-width: 100px;
        max-width:120px;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 25px;
        margin-right: 25px;
        padding-top:3px;
        padding-bottom: 8px;
    }
    .button-title{
        color:#F14638;
        font-size: 14px;
        font-weight: 600;
        padding-left: 10px;
        padding-right: 10px;
    }
    .review-text-box{
        height: 150px;
        width:375px;
        border: 1px solid #F14638;
        font-size: 14px;
        color: #023002;
        border-radius: 8px;
        padding-left: 20px;
        padding-top: 20px;
    }
    .add-cart-button{
        position: relative;
    }
    .cart-text{
        position: absolute;
        color: #ffffff;
        top:20%;
        left: 40%;
        font-size: 20px;
        font-weight: 400;
    }
}