@media (max-width:480px){
    .explore-page{
        background-image: url(/src/pics/Explore_Page.png);
        background-size: cover;
        padding-top: 25px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: sans-serif;
    }
    .top-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .alarm-clock{
        background-image: transparent;
        height: 28px;
        width: 155px;
        padding-left: 25px;
    }
    .location-logo{
        height: 34.76px;
        width: 36px;
        margin-right: 6px;
    }
    .call-icon{
        height: 33px;
        width: 60px;
        padding-right: 25px;
        margin-left: 6px;
    }
    .cardss{
        background-color: #ffffff;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding-top: 21px;
        max-height: 30vh;
    }
    .card-logo{
        height: 100px;
        width: 100px;
        margin-top: 10px;
        margin-left: 25px;
    }
    .card-top{
        display: flex;
        flex-direction: row;
    }
    .title{
        font-family:  sans-serif;
        font-size: 18px;
        font-weight: 600;
        padding-left: 11px;
        padding-right: 32px;
        padding-top: 21px;

    }
    .sub-title{
        font-size: 15px;
        font-weight: 400;
        padding-right: 32px;
        padding-top: 5px;
        font-family:  sans-serif;
        color: #1A202C;
    }
    .card-description{
        font-size: 13px;
        font-weight: 400;
        padding-right: 32px;
        margin: 0px;
        color:#4A5568;
        padding-left: 20px;
    }
    .span-ele{
        font-weight: 600;
    }
    .quick-menu-button{
        margin: 15px;
        background-color: #f14638;
        border-radius: 30px;
        color:white;
        font-size: medium;
        text-align: center;
        height: 5vh;
        width: 80vw;
        margin-left: 1%;
        margin-right: 1%;
        padding-left: 25%;
        padding-right: 25%;
        padding-top: 3%;
        padding-bottom: 10%;
        position:fixed;
        z-index: 1;
        bottom: 0%;
    }
    /* story section */
    .story{
        font-family:sans-serif;
        font-size: 20px;
        font-weight: 200;
        padding-left: 25px;
    }
    .stories{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow:auto;
        scroll-behavior: smooth;
        padding-bottom: 20px;
        padding-left: 25px;
    }
    .stories::-webkit-scrollbar{
        display: none;
    }
    .stories-tiles{
        height:233px;
        width:154px;
        margin-right:9px;
        flex-shrink: 1;

    }
    .special-offers{
        background-image:url(/src/pics/background_gray.png);
        background-size: cover;
        margin: 0px;
        display: flex;
        flex-direction: column;
        max-width:480px;
        min-width: 300px;

    }
    .special-offers-title{
        font-family:sans-serif;
        font-size: 20px;
        font-weight: 200;
        padding-top: 21px;
        padding-bottom: 15px;
        padding-left: 25px;
        margin: 0px;
    }
    /* carousel */
    .carousel-container{
        display: flex;
        scroll-behavior: smooth;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .carousell{
        display: grid;
        grid-auto-flow: column;
        scroll-behavior: auto;
        gap: 18px;
        overflow-y: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        padding-bottom: 25px;
    }
    .carousell::-webkit-scrollbar{
        display: none;
    }
    .cardd{
        scroll-snap-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 27px;

    }
}

